@import "./styles/Font.scss";
@import "./styles/AspectRatio.scss";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
}

#frame {
    color: #111;
    font-family: heavybottom;
    background-color: #EFEBD6;
    @include aspect-ratio(854, 480);
}

@include font(heavybottom)

section {
    font-size: 22em;
}

$font-size: 22em;

#title-screen {
    padding: 64em;

    header {
        font-weight: bold;
        font-size: 4 * $font-size;
        text-align: center;

        animation-name: bob;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    #navigation {
        left: 64em;
        right: 64em;
        bottom: 64em;
        position: absolute;

        text-align: center;

        * {
            font-size: 2 * $font-size;
        }
    }
}

@keyframes bob {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(1em) rotateX(45deg);
    }

    100% {
        transform: translateY(0em);
    }
}

#pause-menu {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    width: 320em;
    height: 180em;
    padding: 32em;
    position: absolute;

    color: #EEE;
    text-align: center;

    transition-duration: 0.15s;
    transition-property: opacity;

    border-width: 3em;
    border-color: #111;
    border-radius: 6em;
    border-style: solid;
    background-color: rgba(0, 122, 0, 0.9);
}

#about-state {
    div {
        margin-bottom: 1em;
    }
    a {
        display: block;
        cursor: pointer;
    }
}

#shopping-state {
    padding: 64em;

    #details {
        top: 0em;
        right: 0em;
        bottom: 0em;
        width: 50%;
        padding: 64em;
        position: absolute;
        border-left-width: 3.5em;
        border-left-style: dashed;
        border-left-color: #111;
    }
}
