@import "./styles/Font.scss";
@import "./styles/AspectRatio.scss";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
}

#frame {
    color: #111;
    background-color: #EEE;
    @include aspect-ratio(854, 480);
}

span {
    font-size: 32em;
    font-family: monospace;
}
